@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "dana";
    font-style: normal;
    src: url(/fonts/Dana-Regular.woff2) format("woff");
  }
  @font-face {
    font-family: "dana-medium";
    font-style: normal;
    src: url(/fonts/Dana-Medium.woff2) format("woff");
  }
  @font-face {
    font-family: "dana-bold";
    font-style: normal;
    src: url(/fonts/Dana-Bold.woff2) format("woff");
  }
  @font-face {
    font-family: "dana-heavy";
    font-style: normal;
    src: url(/fonts/Dana-Heavy.woff2) format("woff");
  }
  @font-face {
    font-family: "morabba";
    font-style: normal;
    src: url(/fonts/Dana-Heavy.woff2) format("woff");
  }
}
