@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "dana";
    font-style: normal;
    src: url(/fonts/DanaFaNum-Regular.woff2) format("woff");
  }
  @font-face {
    font-family: "dana-medium";
    font-style: normal;
    src: url(/fonts/DanaFaNum-Medium.woff2) format("woff");
  }
  @font-face {
    font-family: "dana-bold";
    font-style: normal;
    src: url(/fonts/DanaFaNum-Bold.woff2) format("woff");
  }
  @font-face {
    font-family: "dana-heavy";
    font-style: normal;
    src: url(/fonts/DanaFaNum-Heavy.woff2) format("woff");
  }
  @font-face {
    font-family: "morabba";
    font-style: normal;
    src: url(/fonts/Morabba-Bold.woff2) format("woff");
  }
  input {
    outline: none;
    font-family: "dana";
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 8px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  body {
    @apply bg-gray-100 dark:bg-zinc-800;
  }
}
@layer components {
  .ltr-text {
    direction: ltr;
    text-align: left;
  }
  .sub-menu--show {
    @apply absolute top-[130px] group-hover:top-[110px] right-1/2 opacity-0 invisible group-hover:opacity-100 group-hover:visible flex items-start justify-around translate-x-1/2  w-[96%] xl:w-[97%] mx-auto py-5 font-danaBold text-center bg-white shadow-lg group-hover:transition-all duration-500;
  }
  .loader,
  .loader:before,
  .loader:after {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: #ffffff;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }

  @keyframes bblFadInOut {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  .main-img {
    background: no-repeat url("/images/main-img.jpeg");
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 50px 0;
  }
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
.swiper-pagination-bullet {
  background: #ffffff !important;
}
