@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "dana";
    font-style: normal;
    src: url(/fonts/DanaFaNum-Regular.woff2) format("woff");
  }
  @font-face {
    font-family: "dana-medium";
    font-style: normal;
    src: url(/fonts/DanaFaNum-Medium.woff2) format("woff");
  }
  @font-face {
    font-family: "dana-bold";
    font-style: normal;
    src: url(/fonts/DanaFaNum-Bold.woff2) format("woff");
  }
  @font-face {
    font-family: "dana-heavy";
    font-style: normal;
    src: url(/fonts/DanaFaNum-Heavy.woff2) format("woff");
  }
  @font-face {
    font-family: "morabba";
    font-style: normal;
    src: url(/fonts/Morabba-Bold.woff2) format("woff");
  }
  input {
    outline: none;
    font-family: "dana";
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 8px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  :root {
    --color--dark: 36 42 56;
  }
  body {
    @apply bg-gray-200 dark:bg-dark-200;
  }
  ::selection {
    @apply bg-primary-200/85 text-white;
  }
}
@layer components {
  .ltr-text {
    direction: ltr;
    text-align: right;
  }
  .sub-menu--show {
    @apply absolute top-[130px] group-hover:top-[95px] right-1/2 opacity-0 invisible group-hover:opacity-100 group-hover:visible flex items-start justify-around translate-x-1/2 w-[96%] xl:w-[97%] mx-auto py-5 font-danaBold text-center bg-white shadow-lg group-hover:transition-all duration-500;
  }
  .loader,
  .loader:before,
  .loader:after {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    @apply text-primary-200 dark:text-white;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }

  @keyframes bblFadInOut {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  .main-img {
    background: no-repeat url("/images/main-img.jpeg");
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 50px 0;
  }
  .product-display--grid {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
  }
  .product-display--flex {
    @apply flex flex-col items-start justify-center;
  }
  .product-card--flex {
    @apply flex;
  }
  .quantity--shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  }
  .stepper__dir {
    text-align: left;
    direction: ltr;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
  }
  .form-field__label {
    @apply w-full my-2 font-danaBold;
  }
  .form-field__input {
    @apply w-full bg-gray-100 dark:bg-dark-200 font-dana text-zinc-900 dark:text-white text-base border border-gray-400 dark:border-gray-600;
  }
  .form-field__select {
    @apply w-full px-3 py-2 bg-gray-100 dark:bg-dark-200 font-dana text-zinc-900 dark:text-white text-base border border-gray-400 dark:border-gray-600 rounded-lg;
  }
  .form-field__option {
    @apply absolute top-16 w-full mt-5 h-48 bg-gray-100 dark:bg-dark-200 font-dana text-zinc-900 dark:text-white shadow-lg rounded-md overflow-y-auto z-10;
  }
  .dashboard__li {
    @apply inline-flex items-center justify-start gap-x-5 w-full px-2 py-2 font-danaMedium text-lg hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg transition-colors duration-150;
  }
  /* whiteSpace: 'pre-wrap', overflowWrap: 'break-word; */
  .text-wrape {
    overflow-wrap: pre-wrap;
    white-space: initial;
  }
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

/* swiper style */
.swiper-pagination-bullet {
  background: #ffffff !important;
}
.swiper-button-prev,
.swiper-button-next {
  @apply w-8 md:w-10 h-8 md:h-10;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply bg-primary-200 duration-100;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-primary-200 hover:text-white duration-100 text-base md:text-xl;
  text-align: center;
  font-weight: 900;
}

.swiper-button-prev::after {
  margin-left: 5px;
}
.swiper-button-next::after {
  margin-right: 5px;
}

.accordion-item h2 button span svg {
  transform: rotate(90deg);
  @apply data-[open=true]:-rotate-180;
}

/* mui-style */
.css-1as9v07-MuiSlider-thumb:hover,
.css-1as9v07-MuiSlider-thumb.Mui-focusVisible {
  box-shadow: 0px 0px 0px 8px rgba(239, 68, 68, 0.25);
}
.muirtl-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  @apply !text-3xl !text-gray-500;
}
.muirtl-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  @apply !text-primary-200;
}
.muirtl-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  @apply !text-primary-200;
}
.muirtl-dsy3z9-MuiStepLabel-label.Mui-active,
.muirtl-dsy3z9-MuiStepLabel-label.Mui-completed {
  @apply !text-base !text-primary-200;
}
.MuiStepLabel-label,
.Mui-disabled,
.MuiStepLabel-alternativeLabel,
.muirtl-dsy3z9-MuiStepLabel-label {
  @apply text-gray-400;
}
